---
layout: default
title: "Camera Work"
---

<div class="inset-0 absolute bg-white bg-opacity-100 h-screen w-full flex flex-col carousel">
    <!-- image slide pages -->
    {% include img_slide_card.html title="Personal, 2017" img1="9_Camera_Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img2="9_Camera_Work/1/733900222222.jpg" img1_alt="" img2_alt="" is_first=true is_last=false %}
    {% include img_slide_card.html title="Personal, 2018" img1="9_Camera_Work/2/00006422.jpg" img2="9_Camera_Work/2/IMG_5233.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card.html title="Part of series called „Fremd“, 2016" img1="9_Camera_Work/3/59370021.jpg" img2="9_Camera_Work/3/59370034.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="Abstract, 2016" img="9_Camera_Work/4/Ikeeea.jpg" img_alt="" is_first=false is_last=false %}
    {% include img_slide_card.html title="Part of a series called „boundaries“ about personal self exploration in Chinese society, 2016" img1="9_Camera_Work/5/733eg80029.jpg" img2="9_Camera_Work/5/733800adf09.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="Published in Noisey by VICE, 2017" img="9_Camera_Work/6/IMG_3983.jpg" img_alt="" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="Trailer for The O Mato Experience, 2022" url="https://www.youtube-nocookie.com/embed/WJUNhMZCdew?controls=0" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="Published in Süddeutsche Zeitung, 2019" img="9_Camera_Work/8/by_Jonas_Koeksal.jpg"  img_alt="" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="Image film for O MATO, 2020" url="https://www.youtube-nocookie.com/embed/IANWmvz7HJ4?controls=0" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="Additional camera work for BVG case film about „mind the gap“ campaign, 2020" url="https://www.youtube-nocookie.com/embed/CkYTMNMnHbw?controls=0" is_first=false is_last=false %}
    {% include img_slide_card.html title="(l) event photography for „Stadt nach Acht“ conference; (r) behind the scenes pictures for Polytope Bookings, both 2017" img1="9_Camera_Work/11/IMG_5964.jpg" img2="9_Camera_Work/11/IMG_6270.jpg" img1_alt="" img2_alt="" is_first=false is_last=true %}
</div>
