---
layout: default
title: "Camera Work"
---

<div class="inset-0 absolute bg-white bg-opacity-100 h-screen w-full flex flex-col">
    <!-- image slide pages -->
    {% include img_slide_card.html title="1" img1="9_Camera_Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img2="9_Camera_Work/1/733900222222.jpg" img1_alt="" img2_alt="" is_first=true is_last=false %}
    {% include img_slide_card.html title="2" img1="9_Camera_Work/2/00006422.jpg" img2="9_Camera_Work/2/IMG_5233.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card.html title="3" img1="9_Camera_Work/3/59370021.jpg" img2="9_Camera_Work/3/59370034.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="4" img="9_Camera_Work/4/Ikeeea.jpg" img_alt="" is_first=false is_last=false %}
    {% include img_slide_card.html title="5" img1="9_Camera_Work/5/733eg80029.jpg" img2="9_Camera_Work/5/733800adf09.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="6" img="9_Camera_Work/6/IMG_3983.jpg" img_alt="" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="7" url="https://www.youtube-nocookie.com/embed/WJUNhMZCdew?controls=0" is_first=false is_last=false %}
    {% include img_slide_card_single.html title="8" img="9_Camera_Work/8/by_Jonas_Koeksal.jpg"  img_alt="" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="9" url="https://www.youtube-nocookie.com/embed/IANWmvz7HJ4?controls=0" is_first=false is_last=false %}
    {% include img_slide_card_video.html title="10" url="https://www.youtube-nocookie.com/embed/CkYTMNMnHbw?controls=0" is_first=false is_last=false %}
    {% include img_slide_card.html title="11" img1="9_Camera_Work/11/IMG_5964.jpg" img2="9_Camera_Work/11/IMG_6270.jpg" img1_alt="" img2_alt="" is_first=false is_last=true %}
</div>


<script>
    function nextSlide(){
        console.log("nextslide");
        let activeSlide = document.querySelector('.slide.flex');
        activeSlide.classList.add('hidden');
        activeSlide.classList.remove('flex');
        
        var nextSlide = activeSlide.nextElementSibling;
        if (nextSlide == null) {
            var nextSlide = document.querySelector('.firstslide')
        }
        nextSlide.classList.remove('hidden');
        nextSlide.classList.add('flex');
    }

    function previousSlide(){
        console.log("prevslide");
        let activeSlide = document.querySelector('.slide.flex');
        activeSlide.classList.add('hidden');
        activeSlide.classList.remove('flex');
        
        var previousSlide = activeSlide.previousElementSibling;
        if (previousSlide == null) {
            var previousSlide = document.querySelector('.lastslide')
        }
        previousSlide.classList.remove('hidden');
        previousSlide.classList.add('flex');
        }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $('.content').click(function (e){
  console.log("clicked");
  var elm = $(this);
  var xPos = e.pageX - elm.offset().left;

  if((elm.width() / 2) >= xPos){
    if(elm.tagname == 'A' ){
        pass
    }else{
    previousSlide();
    }
  }
   else {
    if(elm.tagname == 'BUTTON' ){
      pass
    }else{
    nextSlide();
  }
}
});
</script>
