---
layout: default
title: "Camera Work"
---

<div class="inset-0 absolute bg-white bg-opacity-100 min-h-full h-full w-full flex flex-col">
    <!-- image slide pages -->
    {% include img_slide_card.html title="work 2020" img1="8_Camera Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img2="8_Camera Work/1/733900222222.jpg" img1_alt="" img2_alt="" is_first=true is_last=false %}
    {% include img_slide_card.html title="work 2021" img1="8_Camera Work/1/733900222222.jpg" img2="8_Camera Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img1_alt="" img2_alt="" is_first=false is_last=false %}
    {% include img_slide_card.html title="work 2023" img1="8_Camera Work/2/IMG_5233.jpg" img2="8_Camera Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img1_alt="" img2_alt="" is_first=false is_last=true %}
    </div>


<script>
    function nextSlide(){
        let activeSlide = document.querySelector('.slide.flex');
        activeSlide.classList.add('hidden');
        activeSlide.classList.remove('flex');
        
        var nextSlide = activeSlide.nextElementSibling;
        if (nextSlide == null) {
            var nextSlide = document.querySelector('.firstslide')
        }
        nextSlide.classList.remove('hidden');
        nextSlide.classList.add('flex');
    }

    function previousSlide(){
        let activeSlide = document.querySelector('.slide.flex');
        activeSlide.classList.add('hidden');
        activeSlide.classList.remove('flex');
        
        var previousSlide = activeSlide.previousElementSibling;
        if (previousSlide == null) {
            var previousSlide = document.querySelector('.lastslide')
        }
        previousSlide.classList.remove('hidden');
        previousSlide.classList.add('flex');
        }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $('.content').click(function (e){

  var elm = $(this);
  var xPos = e.pageX - elm.offset().left;

  if((elm.width() / 2) >= xPos){
    previousSlide();
    }
   else {
    if(elm.tagname == 'BUTTON' ){
      console.log("button")
      pass
    }else{
    nextSlide();
  }
}
});
</script>
