---
layout: default
title: "Selected Works 2017-2022"
---
<!-- mobile landing previews -->
<div class="divide-y-2 divide-black divide-solid w-full md:hidden">
    {% include mobile_landing_card.html title="Literaturhaus München" url="/literaturhaus.html" img="1_Literaturhaus_Muenchen/1_65945.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Plötze" url="/ploetze.html" img="2_Ploetze/5_ID_Card_PSD_Mockup_final.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Various Posters" url="/variousposters.html" img="3_Various_Posters/1_Poster_Frame_Mockup_3.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="O MATO" url="/omato.html" img="4_O_MATO/1.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="United We Stream" url="/unitedwestream.html" img="5_United_We_Stream/3_Mockup.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Bundesdruckerei Pitch" url="/bundesdruckereipitch.html" img="6_Bundesdruckerei_Pitch/1_2222.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Sonho do Mato" url="/sonhodomato.html" img="7_Sonho_do_Mato/1_maybe.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Island Jazz" url="/islandjazz.html" img="8_Island_Jazz/1_MOCKUP_05.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Camera Work" url="/camerawork.html" img="9_Camera_Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img_alt=""%}
    {% include mobile_landing_card.html title="Motion Showreel" url="/motionshowreel.html" img="" img_alt=""%}
</div>
<div class="flex flex-col space-y-8" x-data x-show="!$store.gen">
    <div class="w-auto flex-1">
        <div class="aspect-w-16 aspect-h-9">
            <iframe class="" src="https://www.youtube-nocookie.com/embed/watch?v=eyCm_KWMlj8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="h-0"></div>
</div>
<!-- desktop landing text -->
<div class="hidden md:flex md:h-full">
    <div class="text-base text-left py-20 px-48">
 
    </div>
</div>
