---
---


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'PlusJakartaSans';
  src: local('PlusJakartaSans'), url(./assets/fonts/PlusJakartaSans-Regular.ttf) format('truetype'),
      local('PlusJakartaSans'), url(./assets/fonts/PlusJakartaSans-Regular.woff) format('woff'),
      local('PlusJakartaSans'), url(./assets/fonts/PlusJakartaSans-Regular.woff2) format('woff2'),
}

*,
*:before,
*:after {
  @apply cursor-default;
}

.transition-fade {
  opacity: 1;
  transition: 1s;
}

html.is-animating .transition-fade {
  opacity: 0;
}