<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="swp.js"> </script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="text-left">
    <div id="swup" class="w-full h-screen flex flex-col md:divide-y-2 divide-black divide-solid">
      <div class="hidden md:grid w-full grid-cols-3 h-24 md:divide-x-2 divide-black divide-solid">
          <a href="/website/index.html" class="text-4xl pt-6 pl-8">Jonas Koeksal</a>
          <div class="text-2xl col-span-2 text-center flex justify-center items-center">
            <div class="">
              {{ page.title }}
            </div>
          </div>
      </div>
      <div class="flex-1 flex flex-col md:grid md:grid-cols-3 md:divide-x-2 divide-black divide-solid overflow-y-auto">
          <div class="hidden md:flex flex-col md:divide-y-2 divide-black divide-solid">
            <div class="text-2xl lg:text-3xl bg-cgray flex-grow pl-8 pt-10 space-y-2 text-left">
              <!-- menu items -->
              {% include desktop_menu_item.html title="Literaturhaus München" url="/literaturhaus.html" show_var="$store.open1" %}
              {% include desktop_menu_item.html title="Plötze" url="/ploetze.html" show_var="$store.open2" %}
              {% include desktop_menu_item.html title="Various Posters" url="/variousposters.html" show_var="$store.open3" %}
              {% include desktop_menu_item.html title="O MATO" url="/omato.html" show_var="$store.open4" %}
              {% include desktop_menu_item.html title="United We Stream" url="/unitedwestream.html" show_var="$store.open5" %}
              {% include desktop_menu_item.html title="Bundesdruckerei Pitch" url="/bundesdruckereipitch.html" show_var="$store.open6" %}
              {% include desktop_menu_item.html title="Sonho do Mato" url="/sonhodomato.html" show_var="$store.open7" %}
              {% include desktop_menu_item.html title="Island Jazz" url="/islandjazz.html" show_var="$store.open8" %}
              {% include desktop_menu_item.html title="Camera Work" url="/camerawork.html" show_var="$store.open9" %}
              {% include desktop_menu_item.html title="Motion Showreel" url="/motionshowreel.html" show_var="$store.open10" %}
              <!-- -->
            </div>
            <div class="flex text-xl justify-evenly">
                <div class="p-2">
                  <a href="/website/impressum.html" class="">Impressum</a>
                </div>
                <div class="p-2">
                  <a href="mailto:jonas@o-mato.com" class="">Contact</a>
                </div>
            </div>
        </div>
        <div class="md:col-span-2 overflow-y-scroll h-auto divide-y-2 divide-black divide-solid md:divide-none">
          <div class="fixed md:hidden w-full h-16 bg-cgray text-3xl pl-6 flex flex-col justify-center divide-y-2 divide-black divide-solid">
            Jonas Koeksal
          </div>
          <div class="md:hidden h-16"></div>
            <!-- hover desktop previews-->
            {% include desktop_hover_preview.html show_var="$store.open1" img="1_Literaturhaus_Muenchen/1_65945.jpg" img_alt="" %}  
            {% include desktop_hover_preview.html show_var="$store.open2" img="2_Ploetze/5_ID_Card_PSD_Mockup_final.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open3" img="3_Various_Posters/1_Poster_Frame_Mockup_3.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open4" img="4_O_MATO/1.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open5" img="5_United_We_Stream/3_Mockup.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open6" img="6_Bundesdruckerei_Pitch/1_2222.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open7" img="7_Sonho_do_Mato/1_maybe.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open8" img="8_Island_Jazz/1_MOCKUP_05.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open9" img="9_Camera_Work/1/14424879_1238058206236161_3663829198413934534_o.jpg" img_alt="" %}
            {% include desktop_hover_preview.html show_var="$store.open10" img="" img_alt="" %}
            <!-- -->
            <div class="transition-fade h-full">
              {{ content }}
            </div>
            
        </div>
      </div>    
    </div>
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.store('open1', false);
        Alpine.store('open2', false);
        Alpine.store('open3', false);
        Alpine.store('open4', false);
        Alpine.store('open5', false);
        Alpine.store('open6', false);
        Alpine.store('open7', false);
        Alpine.store('open8', false);
        Alpine.store('open9', false);
        Alpine.store('open10', false);
        Alpine.store('gen', false);
      })
    </script>
  </body>
</html>
